.ListItem {
    width: 293px;
    height: 68px;
    flex-shrink: 0;
    margin: 0 auto;

    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.90) 117.06%);
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
    filter: drop-shadow(0px 4px 4px #FFD80A);
    @include colCenter;
    gap: 8px;
    @include relative;
    border-radius: 20px;
    padding: 10px;

    &::after {
        content: "";
        @include size(24px);
        @include absolute(null, 0, 0, 0);
        background-image: url(/image/icon24.png);
        background-size: cover;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        display: none;
    }

    .Icon {
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 2px solid #FFF;
        background: linear-gradient(132deg, #FFF 12.4%, rgba(255, 255, 255, 0.70) 89.14%);
        @include colCenter;
        @include rowCenter;

        img {
            width: 32px;
            // height: 32px;
            height: auto;
            flex-shrink: 0;
            filter: drop-shadow(2px 4px 4px rgba(236, 130, 53, 0.25));
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-top: 5px;

        .name {
            color: #000;
            font-family: "Baloo 2";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            /* 16px */
            /* 20px */
            strong{
                font-weight: 700
            }
        }

        .bottom {
            @include colCenter;
            gap: 6px;

            .label {
                color: #5E361C;
                font-family: "Baloo 2";
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 12px */
                /* 16px */
            }

            .bottomIcon {
                width: 16px;
                height: 16px;
                // background-color: #FFDC48;
                background-image: url(/image/icon96.png);
                filter: drop-shadow(0px 1px 1.5px #FFC888);
                background-size: 100% 100%;
                @include radiusFull;
            }
        }

    }

}