.page {
  height: 100vh;
  overflow-y: hidden;

  .bg {
    @include absolute(0, 0);
    @include sizeFull;
    background-image: var(--bg1);
    background-size: 100% auto;
    background-color: var(--bgColor);

    div {
      @include sizeFull;
      background-image: var(--bg2);
      background-size: cover;
      @include absolute(50%, 50%);
      transform: translate(-50%, -50%);
    }
  }

  .content {
    @include absolute(50%, 50%);
    height: max-content;
    width: 393px;
    height: 738px;
    padding-top: 40px;
  }
}
