.page {
  --bgColor: #e2472c;
  --bg2: url(/image/icon86.png);
  height: 100%;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    transform: translateY(-2px);

    .title {
      width: 234.264px;
      height: 50.352px;
      flex-shrink: 0;
      transform: translateX(2px);
      margin-bottom: 37.57px;
    }

    .wallet {
      position: relative;
      z-index: 1;
      width: 100%;
      margin-top: 35px;
      transform: translateY(15px);
    }
  }
}
