@mixin itemBorder {
  border-radius: 20px;
  border: 2px solid #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.24) -19.42%,
    rgba(255, 255, 255, 0.36) 122.31%
  );
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
}

.Wallet {
  @include rowBetween;
  width: 100%;
  @include pagePaddinX;

  .item {
    position: relative;
    flex-shrink: 0;
    border-radius: 16px;
    // border: 2.6px solid #000;
    background: #fff;
    // box-shadow: 0px 2.6px 0px 0px #000;
    height: 60px + 5px;
    width: 58px;
    @include colCenter;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    @include relative;

    .connect {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      & > div {
        transform: scale(10);
      }
    }

    .show {
      display: flex;
      flex-direction: column;
      align-items: center;
      pointer-events: none;
      gap: 4px;
    }

    .blockies {
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #000;
    }

    img {
      @include size(60px);
      top: 4px;
      flex-shrink: 0;
    }

    .text {
      color: #fff;
      text-align: center;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fe7821;
      font-family: Rubik;
      font-size: 12px;
      font-style: normal;
      font-weight: bold;
      line-height: 100%;
      @include absolute(null, null, 0, 3px);
      width: 100%;
      height: 12px;
      /* 12px */
    }

    &.left {
      // width: 102px + 5px;
      @include size(68px);
      @include itemBorder();
    }
  }

  .right {
    width: 242px;
    height: 68px;
    flex-shrink: 0;
    display: flex;
    @include itemBorder();
    @include colCenter;
    padding-left: 8px;
    padding-right: 8px;
    @include rowBetween;
    .item {
      @include size(48px);
      border-radius: 12px;
      border: 2px solid #fff;
      background: linear-gradient(
        132deg,
        #fff 12.4%,
        rgba(255, 255, 255, 0.7) 89.14%
      );
      @include relative();
      img {
        @include size(32px);
      }
      .text {
        @include absolute(null, null, null, -7px);
      }
    }
  }
}
