.userIcon {
  @include size(84px);
  @include absolute(115px, 0);
  transform: translateY(-30px);
}
.bg {
  width: 354.707px;
  height: 160.238px;
  flex-shrink: 0;
  @include absolute(-21px, 0);
  transform: translateY(-90px);
}
.content {
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include relative;
  padding-top: 68px;

  .starBox {
    @include absolute(0, 0);

    .star {
      @include absolute(9999999px);

      &:nth-of-type(1) {
        width: 24px;
        height: 30px;
        flex-shrink: 0;
        flex-shrink: 0;
        @include absolute(120px, 9px);
      }

      &:nth-of-type(2) {
        width: 16px;
        height: 20px;
        flex-shrink: 0;
        @include absolute(241px, 63px);
      }

      &:nth-of-type(3) {
        width: 10px;
        height: 12px;
        flex-shrink: 0;
        @include absolute(349px, 299px);
      }

      &:nth-of-type(4) {
        width: 16px;
        height: 20px;
        flex-shrink: 0;
        @include absolute(330px, 313px);
      }

      &:nth-of-type(5) {
        width: 16px;
        height: 20px;
        flex-shrink: 0;
        @include absolute(21px, 404px);
      }
    }
  }

  .more {
    color: #000;
    font-family: "Baloo 2";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    /* 16px */
    @include colCenter;
    gap: 4px;

    /* 16px */
    .moreIcon {
      @include size(16px);
    }
  }

  .title {
    color: #fbf5d5;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: "Baloo 2";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 94.6%;
    text-transform: uppercase;
    margin-top: 19px;
  }

  .links {
    @include colCenter;
    gap: 20px;
    margin-top: 21px;

    .itemIcon {
      @include size(32px);
    }
  }

  .bottom {
    height: 210px;
    flex-shrink: 0;
    background-color: #faf7ef;
    border-radius: 20px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 20px;
  }

  .card {
    width: 310px;
    flex-shrink: 0;
    fill: #fff;
    border-radius: 16px;
    padding-left: 24px;
    padding-right: 30px;
    @include rowBetween;
    flex-direction: column;
    gap: 16px;

    .item {
      @include colCenter;
      @include rowBetween;

      .left {
        @include colCenter;
        gap: 8px;
      }

      .text1 {
        color: #000;
        font-family: "Baloo 2";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 16px */
      }

      .text2 {
        color: #ff7413;
        font-family: "Baloo 2";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 32px */
        /* 32px */
      }

      .r1 {
        @include size(32px);
        background-image: url("/image/icon121.png");
        background-size: cover;
        @include radiusFull;
      }

      .r2 {
        @include size(32px);
        // background-color: #FFDC48;
        @include radiusFull;
        background-image: url("/image/icon121.png");
        background-size: cover;
      }
    }
  }

  .btn {
    width: 310px;
  }
}

.close {
  left: 34px !important;
  top: 69px !important;
}
