.page {
  --bgColor: #ff9048;
  --bg2: url(/image/icon80.png);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;

  .title {
    width: 247.551px;
    height: 50.432px;
    flex-shrink: 0;
    margin: 0 auto 28.57px;
    transform: translateX(2px) translateY(-3px);
  }

  .wallet {
    width: 100%;
    margin-top: 43px;
    transform: translateY(15px);
  }
}
