.page {
  min-height: 100%;
  @include relative(0, 0);
  @include pagePaddinX;
  @include areaBottom;
}

html,
body {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
}

img {
  display: block;
}
