.page {
  min-height: 100%;
  @include relative(0, 0);
  @include pagePaddinX;
  @include areaBottom;
}

html,
body {
  @include sizeFull;
  position: fixed;
  top: 0;
}

img {
  display: block;
}
